[Desktop Entry]
Name=Ponduin
Exec=/usr/lib/ponduin/Ponduin %U
Icon=/usr/share/pixmaps/ponduin.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/ponduin;