[Desktop Entry]
Name=Ponduin
Exec=/usr/lib/Ponduin/Ponduin %U
Icon=/usr/share/pixmaps/Ponduin.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/ponduin;